.bg{
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin: 10px 0px 44px;
    

}
.tf{
    width: 400px;
    height: 400px;
    align-items: center;
    background-color: #ffff;
    color: #262626;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0px 0px 10px;
    padding: 10px 0px;
}
.nf{
    color: #262626;
    font-size: 14px;
    list-style: 18px;
    padding: 10px 0px;
}

.form{
    width: 380px;
    height: 475px;
    color: #262626;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    

}
.order{
    width: 280px;
    height: 35px;
    background-color: #fafafa;
    color: #262626;
}

.create{
    width: 100px;
    height: 30px;
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    margin: 8px 40px;
    float: right;
}